.advantages-more {
  padding-bottom: 40px;
  box-sizing: border-box;
  background-color: @white;
  order: -1;
}

.advantages-more__list {
  display: flex;
  flex-direction: column;
  .indent-reset();
  list-style: none;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .advantages-more {
    padding-bottom: 66px;
  }
  .advantages-more__list {
    flex-direction: row;
    text-align: center;
  }
  .advantages-more__item:nth-child(2) {
    order: 2;
  }
  .advantages-more__item:nth-child(3) {
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .advantages-more {
    padding-bottom: 66px;
  }
}
