.edge-more__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: @black;
}

.edge-more__text {
  .indent-reset();
  color: @light-black;
}

.edge-more {
  padding-top: 41px;
  padding-left: 69px;
  padding-right: 41px;
}

@media (min-width: @tablet-width) {
  .edge-more {
    width: 256px;
    padding-top: 164px;
    padding-left: 51px;
    padding-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .edge-more {
    width: 400px;
    padding-left: 73px;
    padding-right: 75px;
  }
}
