.edge__text {
  box-sizing: border-box;
  padding-top: 56px;
  padding-right: 27px;
  padding-bottom: 40px;
  padding-left: 28px;
}

.edge {
  background-color: @gray;

  &--white {
    color: @white;
    background-color: @blue;
  }

  &--white:nth-child(2) {
    .edge__text {
      padding-top: 38px;
      padding-right: 28px;
      padding-bottom: 40px;
      padding-left: 30px;
    }

    .edge__text br {
      display: none;
    }
  }

  &--black {
    position: relative;
    box-sizing: content-box;
    padding-top: 27px;
    padding-left: 37px;
    padding-right: 36px;
    padding-bottom: 28px;

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 20px;
      width: 280px;
      height: 1px;
      background-color: @dark-gray;
    }
  }

  &--black:nth-child(5) {
    &::before {
      display: none;
    }
  }

  &--black br {
    display: none;
  }
}

.edge__title {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.edge__count {
  display: block;
  margin-bottom: 16px;
}

.edge__desc {
  .indent-reset();
  line-height: 1.5;
}

.edge__photo {
  .indent-reset();
}

.edge__image {
  display: block;
}

@media (min-width: @tablet-width) {
  .edge {
    &--white {
      display: flex;
      flex-direction: row;
    }

    &--white:nth-child(2) .edge__photo {
      order: -2;
    }

    &--white:nth-child(2) {
      .edge__text {
        order: -1;
        padding-top: 44px;
        padding-bottom: 44px;
      }

      .edge__text br {
        display: inline;
      }
    }

    &--black {
      width: 256px;
      box-sizing: border-box;
      padding-top: 45px;
      padding-left: 50px;
      padding-right: 48px;
      padding-bottom: 43px;

      &::before {
        display: none;
      }
    }

    &--black br {
      display: inline;
    }

    &--black:nth-child(2) {
      padding-top: 45px;
      padding-left: 53px;
      padding-right: 54px;
      padding-bottom: 43px;
    }

    &--black:last-child {
      padding-top: 45px;
      padding-left: 49px;
      padding-right: 48px;
      padding-bottom: 43px;
    }
  }

  .edge__text {
    box-sizing: border-box;
    padding-top: 44px;
    padding-left: 47px;
    padding-right: 47px;
    padding-bottom: 44px;
    width: 256px;
  }

  .edge__title {
    margin-bottom: 11px;
    font-size: 21px;
    line-height: 1.24;
  }

  .edge__count {
    margin-bottom: 22px;
  }

  .edge__photo {
    flex-grow: 1;
    width: 512px;
    height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .edge {
    &--black {
      width: 400px;
      padding-top: 45px;
      padding-left: 57px;
      padding-right: 58px;
      padding-bottom: 66px;
    }

    &--black:nth-child(2) {
      padding-top: 45px;
      padding-left: 64px;
      padding-right: 64px;
      padding-bottom: 66px;
    }

    &--black:last-child {
      padding-top: 45px;
      padding-left: 57px;
      padding-right: 58px;
      padding-bottom: 66px;
    }

    &--white:nth-child(2) .edge__text {
      padding-top: 52px;
      padding-bottom: 52px;
      padding-left: 90px;
      padding-right: 90px;
    }
  }

  .edge__text {
    box-sizing: border-box;
    padding-top: 53px;
    padding-left: 68px;
    padding-right: 67px;
    padding-bottom: 56px;
    width: 400px;
  }

  .edge__title {
    width: 159px;
    margin: 0 auto;
    margin-bottom: 9px;
  }

  .edge__photo {
    flex-grow: 1;
    width: 800px;
  }
}
