.form-effect {
  .indent-reset();
  padding-bottom: 28px;
}

.form-effect__title {
  .indent-reset();
  margin-bottom: 29px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.form-effect__string {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.form-effect__string:last-child {
  margin-bottom: 0;
}

.form-effect__input {
  margin-right: 27px;
  width: 46px;
  height: 46px;
}

.form-effect__label {
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .form-effect__title {
    text-align: left;
  }
}
