.intro {
  /*временно*/
  min-height: 389px;
  outline: 2px solid green;
  /*временно*/
  background-color: @blue;
  &--inner {
    /*временно*/
    min-height: 158px;
    outline: 2px solid green;
    /*временно*/
  }
}

.intro__photo {
  .indent-reset();
}
