.main-menu {
  //временно
  min-height: 223px;
  outline: 2px solid blue;
  outline-offset: -2px;
  //временно
}

.main-menu__toggle {
  display: none;
}

//временно
@media (min-width: @tablet-width) {
  .main-menu {
    min-height: 56px;
  }
}
//временно
