.map {
  margin-bottom: 10px;
  /*временно*/
  min-height: 350px;
  outline: 2px solid pink;
  /*временно*/
  background-color: #f3f1ed;
}

@media (min-width: @tablet-width) {
  .map {
    margin-bottom: 0;
  }
}
