.map {
  margin-bottom: 10px;
  background-color: #f3f1ed;
}

.map__image {
  width: 320px;
  height: 350px;
}

@media (min-width: @tablet-width) {
  .map {
    margin-bottom: 0;
  }

  .map__image {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .map__image {
    width: 1200px;
  }
}
