.page-header {
  position: relative;
  min-height: 279px;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 56px;
  }
}

.page-header__logo {
  position: absolute;
  left: calc(50% - 51px);
}
