.page-footer {
  /*временно*/
  min-height: 233px;
  outline: 2px solid red;
  /*временно*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  //padding-top: 31px;
  //padding-bottom: 23px;
}

@media (min-width: @tablet-width) {
  .page-footer {
  min-height: 120px;
  flex-direction: row;
  align-items: center;
  }
}
