.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 23px;
  padding-right: 85px;
  padding-bottom: 23px;
  padding-left: 84px;
}



@media (min-width: @tablet-width) {
  .page-footer {
  flex-direction: row;
  align-items: center;
  }
}
