.photo-gallery {
}

.photo-gallery__list {
  .indent-reset();
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
}

.photo-gallery__item {
  position: relative;
  padding-top: 22px;
}

.photo-gallery__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 320px;
  height: 1px;
  background-color: @gray;
}

.photo-gallery__item:last-child::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -20px;
  width: 320px;
  height: 1px;
  background-color: @gray;
}

/*временно*/
.photo-gallery__item:first-child {
  background-color: lightyellow;
}

.photo-gallery__item:nth-child(2) {
  background-color: lightpink;
}

.photo-gallery__item:nth-child(3) {
  background-color: lightgreen;
}

.photo-gallery__item:last-child {
  background-color: lightblue;
}
/*временно*/

.photo-galery__post {
  .indent-reset();
  position: relative;
}

.photo-galery__legend {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 21px;
  width: 100%;
}

.photo-gallery__image {
  display: block;
}

.photo-gallery__sign,
.photo-gallery__author,
.photo-gallery__like {
  display: block;
  text-align: left;
}

.photo-gallery__sign {
  margin-bottom: 8px;
}

.photo-gallery__author {
  text-transform: none;
  margin-bottom: 16px;
}

.photo-gallery__like {
  position: relative;
  padding-left: 38px;
}

.photo-gallery__like:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 23px;
  height: 21px;
  background-color: red;
}


@media (min-width: @tablet-width) {
  .photo-gallery__list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 60px;
    padding-left: 60px;
  }
  .photo-gallery__item:first-child {
    width: 648px;
    height: 480px;
  }
  .photo-gallery__item .photo-gallery__image {
    margin-bottom: 0;
  }
  /*временно*/
  .photo-gallery__item .photo-gallery__image {
    height: 267px;
  }
  .photo-gallery__item:first-child .photo-gallery__image {
    height: 400px;
  }
  /*временно*/
  .photo-gallery__item {
    padding-top: 0;
    padding-bottom: 0;
    width: 324px;
    height: 347px;
  }
  .photo-gallery__item::before {
    display: none;
  }
  .photo-gallery__item:last-child::after {
    display: none;
  }
  .photo-galery__legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @gray;
  }
  .photo-gallery__item .photo-galery__legend {
    padding-left: 20px;
    padding-right: 30px;
  }
  .photo-gallery__item:first-child .photo-galery__legend {
    padding-left: 20px;
    padding-right: 21px;
  }
  .photo-gallery__item:nth-child(3) .photo-galery__legend {
    padding-right: 36px;
  }
  .photo-gallery__author {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__list {
    padding-right: 0;
    padding-left: 0;
  }
  .photo-gallery__item:first-child {
    width: 1200px;
    height: 400px;
  }
  .photo-gallery__item {
    width: 400px;
    height: 267px;
  }
  .photo-galery__legend {
    position: absolute;
    bottom: 0;
    background-color: transparent;
  }
}
