@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.site-list {
  .indent-reset();
  list-style: none;
}

.site-list__item {
  background-color: @blue;
}

.site-list__link {
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22;
  color: @white;
  text-transform: uppercase;
}
