.social {
  margin-bottom: 34px;
}

.social__list {
  .indent-reset();
  display: flex;
  justify-content: space-between;
  width: 151px;
  list-style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: @blue;
}

.social__link svg {
  fill: white;
}

.social__link:hover {
  background-color: @deep-blue;
}

.social__link:active {
  background-color: @dark-blue;

  .social__icon {
    opacity: 0.3;
  }
}

.social__item:nth-child(2) .social__link {
  width: 47px;
  height: 48px;
}

@media (min-width: @tablet-width) {
  .social {
    margin-bottom: 0;
  }
}
