.advantages {
  padding-top: 43px;
  text-transform: uppercase;
  line-height: 1.44;
  /*временно*/
  min-height: 2062px;
  outline: 2px solid cyan;
  /*временно*/
}

.advantages__slogan {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
  color: @black;
}

.advantages__intro {
  margin-bottom: 29px;
  font-size: 14px;
  color: @light-black;
}

.advantages__list {
  .reset-indent();
  list-style: none;
}
